body{
	font-family: 'Indie Flower', cursive;
	color: #286090;
	font-size: 18px;
}

i.glyphicon-remove {
  color: red;
  float: right;
}

i.glyphicon-ok {
  color: orange;
  float: right;
  margin-right: 20px;
}